.Logo {
    background-color: #fff;
    padding: 10px;
    height: 90%;
    /* display: flex; */
    align-items: center ;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.Logo img {
    height: 100%;
}
